.event-page {
  font-family: "IvyMode", sans-serif;
  padding: 20px;
}

.feedback-section {
  background-color: #f5f5f5;
  border: 1px solid black;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fd_charli {
  text-align: left;
  font: normal normal normal 36px/44px IvyMode;
  letter-spacing: 1.19px;
  color: #222222;
  opacity: 1;
}
.pfeedback-section {
  color: var(--unnamed-color-222222);
  text-align: left;
  font: normal normal normal 24px/27px IvyMode;
  letter-spacing: 0.59px;
  color: #222222;
  opacity: 1;
}
.feedback-section p {
  text-align: left;
  font-style: sans-serif;
  margin: 0;
  color: #333;
}

.feedback-btn {
  margin-top: 10px;
  padding: 10px 15px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.Fevent-name {
  font-size: 24px;
  color: #222222;
  color: var(--unnamed-color-222222);
  text-align: left;
  /* font: normal normal normal 36px/44px IvyMode; */
  letter-spacing: 1.19px;
  color: #222222;
  opacity: 1;
}

.Fevent-details {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #777;
}
.filebox{
    display:flex;
    flex-direction:column;
    gap:-1rem;
}